
/*.caixa{
    width: 400px;
    background: #dedede url(../img/topo.png) no-repeat left top;
}
.caixa p{
    padding: 0px 20px 20px 20px;
    background: url(../img/baixo.png) no-repeat left bottom;
}
.caixa h2{
    padding: 10px 20px 20px;
}
*/
.caixa{
    width: 400px;
    background: #dedede url(../img/fundo-arredondamento.png) repeat-y left top;
}
.caixa h2{
    padding: 10px 20px 20px;
    background: url(../img/topo2.png) no-repeat left top;
}
.caixa p{
    padding: 0px 20px 20px 20px;
}
.caixa .ultimo{
    background: url(../img/baixo2.png) no-repeat left bottom;
}
